version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cvapp
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
    command: python /app/manage.py runserver 0.0.0.0:8000
