


{% include 'header.html' %}

{% block indexContent %}{% endblock indexContent %}

{% block resumeContent %}

{% endblock resumeContent %}
{% block portfolioContent %}

{% endblock portfolioContent %}
{% block blogContent %}{% endblock blogContent %}
{% block contactContent %}{% endblock contactContent %}

{% block postcreationBlock %}{% endblock postcreationBlock %}
{% block postblog %}

{% endblock postblog %}

{% block loginBlock %}{% endblock loginBlock %}
{% block cat_block %}{% endblock cat_block %}
{% block registerBlock %}


{% endblock registerBlock %}
{% block dashboardBlock %}{% endblock dashboardBlock %}


{% include 'footer.html' %}
