{% extends 'base.html' %}
{% block resumeContent %}
<section>
    <div class="container-fluid px-5 py-5 border-top  border-bottom pb-5 mb-5" style="background-color:#a9b2b321;">
        <h2><b>Resume</b></h2>
    </div>
    
    <div class="container pb-5">
        <!--Row with two equal columns-->
        <div class="row">
            <div class="col-md-6">
                <div class="demo-content">
                    <table>
                        <h3 class="border-bottom border-2">Education</h3>
                        <ul style="list-style: none;">
                            <li><button type="button" class="btn btn-outline-primary m-2" disabled>2022-2023</button><b class="text-warning"> Master of Computer Application</b><h6><b class="border-bottom">Lovely Professional University, Punjab</b></h6>
                            <p>
                                <table>
                                    <ul><i>Relevent Coursework:</i>
                                        <li>Artificial intelligence & Machine Learning </li>
                                           <li> Data Structure and Oops Programming</li>
                                           <li> Software testing and quality assurance</li>
                                           <li> Software Engineering</li>
                                           <li> Database Management System </li>
                                           <li> Learned new techniquies and workflows</li>
                                    </ul>
                                </table>
                            </p>
                        <hr>
                        </li>
                        <li style="list-style: none;"><button type="button" class="btn btn-outline-primary m-2" disabled>2018-2021</button><b class="text-warning">Bachlore of Vocational(B.voc)</b><h6><b class="border-bottom">Bhartiya Skill Development University, Jaipur</b></h6>
                            <p>
                                <table>
                                <ul><i>Relevent Coursework:</i>
                                    <li>Computer Networking </li>
                                       <li> Redhat Server Administration</li>
                                       <li> Windows Server Administration</li>
                                       <li> C++ & Python Programming</li>
                                       <li> Cloud Computing </li>
                                       <li> Network Designing</li>
                                </ul>
                            </table>
                        </p>
                           
                        </li>

                        </ul>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="demo-content bg-alt">
                    <table>
                        <h3 class="border-bottom border-2">Experience</h3>
                        <ul style="list-style: none;">
                            <li><button type="button" class="btn btn-outline-primary m-2" disabled>2021,Internship</button><b class="text-warning"> Junior Network Engineer</b><h6><b class="border-bottom">Best & Beyond Professional, Jaipur</b></h6>
                            <p>
                                <table>
                                    <ul><i>Task assign by company:</i>
                                        <li>Managing and resolving issues related networking </li>
                                           <li> Handling Manage Engine(IT support tool) </li>
                                           <li> Configuration of Routers,Switches and firewall</li>
                                
                                    </ul>
                                </table>
                            </p>
                            <hr>
                        </li>
                        <li><button type="button" class="btn btn-outline-primary m-2" disabled>2022,Internship</button><b class="text-warning">Web Developer</b><h6><b class="border-bottom">Society for data science</b></h6>
                            <p>
                                <table>
                                    <ul><i>Task assign by company:</i>
                                        <li>Designing wire frames for website</li>
                                           <li>Developing dynamic websites using python django framework</li>
                                           <li>DNS Management and Web hosting </li>
                                           <li>Website Maintenance</li>
                                
                                    </ul>
                                </table>
                            </p>
                                <hr>
                        </li>
                        
                        </ul>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
    <div class="container mt-5 mb-5">
        <!--Row with two equal columns-->
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="demo-content">
                    <table>
                        <h3 class="border-bottom border-2">Coding Skill</h3>
                        <ul class="mt-5">
                            <li class="mb-3"><h5>HTML</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                                  </div>
                            </li>
                            <li class="mb-3"><h5>CSS</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
                                  </div>
                            </li > <li class="mb-3"><h5>Javascript</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                                  </div>
                            </li> <li class="mb-3"><h5>Python</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                                  </div>
                            </li>
                        </ul>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="demo-content bg-alt">
                    <table>
                        <h3 class="border-bottom border-2">Networking Skill</h3>
                        <ul class="mt-5">
                            <li class="mb-3"><h5>Amazon Web Services(AWS)</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
                                  </div>
                            </li>
                            <li class="mb-3"><h5>Computer Networking</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                                  </div>
                            </li > <li class="mb-3"><h5>Linux Server Administration</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                                  </div>
                            </li> <li class="mb-3"><h5>Windows Server Administration</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                                  </div>
                            </li>
                        </ul>
                       
                    </table>
                </div>
            </div>
          
            
        </div>
    </div>
<div class="container-fluid mb-4">
        <div class="container-fluid px-4 " id="icon-grid">
          <h2 class="pb-2 border-bottom mb-4">Skill Summary</h2>
        </div>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Programming
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show " aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body ">
          <div class="row m-auto  ">
            <div class="card m-auto" style="width: 21rem;">
              <div class="card-body">
                <h5 class="card-title">HTML5</h5>
                <h6 class="card-subtitle mb-2 text-muted">90%</h6>
                <p class="card-text">I have capbility to build awesome website using html5 markup language. I know about all html tags,Attributes,Headings,Formatting,links,Images,lists etc.    </p>
                
              </div>
            </div>
            
            <div class="card m-auto" style="width: 21rem;">
              <div class="card-body">
                <h5 class="card-title">CSS3</h5>
                <h6 class="card-subtitle mb-2 text-muted">60%</h6>
                <p class="card-text">I can make beautiful and fantastic website using css3. I can make own style using css selectors,colors,margins,padding,height,width etc.  </p>
               
              </div>
            </div>
            <div class="card m-auto" style="width: 21rem;">
              <div class="card-body">
                <h5 class="card-title">Python</h5>
                <h6 class="card-subtitle mb-2 text-muted">Web Framework Django</h6>
                <p class="card-text">For making website i am using python web framework django because django is easy to use, secure and open source web framework. It use python language.  </p>
               
              </div>
            </div>
            <div class="card m-auto mt-3" style="width: 21rem;">
              <div class="card-body">
                <h5 class="card-title">JavaScript</h5>
                <h6 class="card-subtitle mb-2 text-muted">I am use for frontend and backend development for making web applications</h6>
                
              </div>
            </div>
            <div class="card m-auto mt-3" style="width: 21rem;">
              <div class="card-body">
                <h5 class="card-title">PHP</h5>
                <h6 class="card-subtitle mb-2 text-muted">I have some kind of understading and information</h6>
                
              </div>
            </div>
            <div class="card m-auto mt-3" style="width: 21rem;">
              <div class="card-body">
                <h5 class="card-title">Bootstrap</h5>
                <h6 class="card-subtitle mb-2 text-muted">I am use this css framework most the cases in my project journey because it is open source and responsive</h6>
                
              </div>
            </div>
          </div>
           </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
         Cloud Services
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <div class="row">
          <div class="card m-auto" style="width:33rem;">
            <div class="card-body">
              <h5 class="card-title">AWS</h5>
              <h6 class="card-subtitle mb-2 text-muted">Amazon web Services</h6>
             <p>I can do following services on this cloud platform</p>
             <ul>
              <li>EC2 Instance Creation[Security,Networking,Storage,Monitoring etc]  </li>
              <li>Elastic ip Configuration</li>
              <li>Route53(DNS Management) integration with ec2 instance </li>
              <li>Cloudfront Management</li>
              <li>Aws Certificate Management for SSL&TLS</li>
              <li>Snapshot,AMI and volume creation</li>
              <li>etc..</li>
             </ul>
            </div>
          </div>
          <div class="card m-auto" style="width: 33rem;">
            <div class="card-body">
              <h5 class="card-title">Git & Github & Vscode</h5>
              <h6 class="card-subtitle mb-2 text-muted">Project Management tool</h6>
              <p class="card-text">I can do the following things. </p>
              <li>Repositories creations and project deployment using git on github</li>
              <li>Project testing on github</li>
              <li>Git clone,push,pull of project code on github</li>
              <li>Version control Management </li>
              <li>Live&remote code deployment using ssh in vscode</li>
              <li>Debugging in vscode</li>
              <li>etc..</li>
            </div>
          </div>
          
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Networking
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <div class="row">
            <div class="card m-auto mt-3" style="width: 21rem;">
              <div class="card-body">
                <h5 class="card-title">Networking</h5>
                <h6 class="card-subtitle mb-2 text-muted">I have excellent knowledge about computer networking</h6>
                <ol>I know about..
                  <li>IP,Subnetting,Superneting</li>
                  <li>Firewall</li>
                  <li>Router,Switch,Gateway,Bridges</li>
                  <li>Access point,Point to Point Configuration</li>
                  <li>LAN,MAN,WAN</li>
                  <li>Optical Fiber</li>
                  <li>etc..</li>
                </ol>
              </div>
            </div>
            <div class="card m-auto mt-3" style="width: 21rem;">
              <div class="card-body">
                <h5 class="card-title">Linux Server Management</h5>
                <h6 class="card-subtitle mb-2 text-muted">I have deep knowledge about linux and windows server</h6>
                <ul>Redhat/Centos/Ubuntu Server-
                  <ol>I can do following services..
                    <li>Crontab Management</li>
                    <li>NFS</li>
                    <li>Samba Server</li>
                    <li>SSH Server</li>
                    <li>Web server</li>
                    <li>FTP Server</li>
                    <li>DHCP and DNS Server</li>
                  </ol>
                </ul>
                
              </div>
            </div>
            <div class="card m-auto mt-3" style="width: 21rem;">
              <div class="card-body">
                <h5 class="card-title">Windows Server Management</h5>
                <h6 class="card-subtitle mb-2 text-muted">I have hands on experience on this server</h6>
                <ul> Windows Server-
                  <ol>In windows server I can configure windows server 2016,2019,2021
                    <li>ADDS implementation</li>
                    <li>DHCP & DNS configuration</li>
                    <li>Web(IIS) server</li>
                    <li>FTP & SSH server configuration</li>
                    <li>Windows Deployment Services</li>
                    <li>Group police Management</li>
                    <li>etc..</li>
                  </ol>
                </ul>
                
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
    {% comment %} <div class="container px-4 pb-5" id="icon-grid">
        <h3 class=" border-bottom  col-3 col-md-2 mb-5">Certificates</h3>
        <div class="row d-flex justify-content-center text-center">
            <div class="col-md-5 res_cer_cls me-1">H1</div>
            <div class="col-md-5 res_cer_cls me-1">H2</div>
        </div>

    </div> {% endcomment %}

</section>















{% endblock resumeContent %}
















